*{
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	font-family: Raleway, sans-serif;
	color: #104175
}

.badge {
	font-size: 1rem;
	font-weight: normal;
}

.badge-success{
	color: #143D0B;
	background-color: #C4ECBB;
}

.badge-warning{
	color: #2A1704;
	background-color: #F5DD80;
}

.badge-danger{
	color: #300B03;
	background-color: #FCAA9C;
}

.badge-danger-account{
	color: rgb(211, 60, 45);
	background-color: #fff;
}

.badge-secondary{
	color: #88979d;
	background-color: #e9eced;
}

.navbar-tobebudgeted{
	color: #143D0B;
	background-color: #C4ECBB;
	padding: .3rem .75rem;
	border-radius: .4rem;
	font-size: 1.8rem;
	font-weight: 300;
	min-width: 450px;


	.description{
		font-size: .9rem;
		font-weight: normal;
	}
}

.success{
	color: #143D0B;
	background-color: #C4ECBB;
}

.warning{
	color: #2A1704;
	background-color: #F5DD80;
}

.danger{
	color: #300B03;
	background-color: #FCAA9C;
}

.secondary{
	// color: #88979d;
	color: #6e7c81;
	background-color: #e9eced;
}

.table-notbreakline {
	white-space: nowrap;
}

.table-budget{
	input {
		max-width: 120px;
		text-align: right;
		// padding-right: 1rem;
		// border-radius: .3rem;
		// padding-left: .15rem;
		// padding-right: .15rem;
		// border: 1px solid transparent;
	}
	// input:focus{
	// 	border:1px solid #ccc;
	// }
}


.scrollable-y{
	height: calc(100vh - 90px);
	overflow-y: auto;
}
.sidebar{
	h1, h2, h3, h4, h5, h6 {
		color: #ffffff;
	}
}

.col-accounts{
	padding-top: 1rem;
	font-size: .9rem;
	background-color: #104175;
	color: #eeeeee;

	.badge {
		font-size: .9rem;
	}

	table{
		color: #eeeeee;

		thead, tbody, tr, td, th {
			border: transparent;
		}
	}

	a {
		color: #eeeeee;
	}
}

.tr-group{
	background-color: #e5f1ff;
	color: #104175;

	.data{
		font-weight: normal;
	}
}

table a {
	color: #212529;

	&:hover {
		text-decoration: none;
	}
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
	html {
		font-size: 13.75px;
	}
	.table-budget{
		input {
			max-width:60px
		}
	}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
	.col-accounts{
		width: 20%;
		flex: 0 0 20%;
	}
}


.nav-item {
	// text-transform: uppercase;
}

.nav-link{
	margin-left: 1rem;
	border-bottom: 2px solid transparent;	
	&.active{
		border-color: #ffffff;
		color: #ffffff;
	}
}

.action-bar{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.col-content{
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.select2-selection__rendered {
    line-height: 33px !important;
}
.select2-container .select2-selection--single {
    height: 37px !important;
}
.select2-selection__arrow {
    height: 35px !important;
}


.bottom-menu{
	height: 6vh;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	box-shadow: 0px -2px 2px 0px rgba(0,0,0,0.25);
}

.bottom-menu-item{
	align-self: center;
}